name: Every 2 hours tests

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure node
        uses: ./.github/actions/setup-project

      - name: Run e2e
        uses: ./.github/actions/e2e-test
        with:
          e2e-base-url: 'https://prod-test-app.vercel.app/'

      - name: Trigger Webhook on Failure
        if: failure()
        run: curl https://webhook.site/05cb7f9c-5cdb-43a3-9333-314035f243a0

