name: Deploy AWS

on:
  workflow_dispatch:


jobs:
  deploy-aws:
    runs-on: ubuntu-latest
    environment:
      name: 'Production'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure node
        uses: ./.github/actions/setup-project

      - name: Run lint and tests
        uses: ./.github/actions/lint-and-test

      - name: Build app
        run: npm run build
        env:
          VITE_ENVIRONMENT: 'Production'

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4.0.2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Deploy to AWS
        run: aws s3 sync s3://ofe-rmbucket
