name: Deploy Vercel

on:
  workflow_call:

jobs:
  deploy-vercel:
    runs-on: ubuntu-latest
    environment:
      name: 'Staging'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure node
        uses: ./.github/actions/setup-project

      - name: Run lint and tests
        uses: ./.github/actions/lint-and-test

      - name: Deploy app to Vercel production env
        uses: ./.github/actions/deploy-vercel
        with:
          mode: 'production'
          vercel-token: ${{ secrets.VERCEL_TOKEN }}
        env:
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_AUTOMATION_BYPASS_SECRET: ${{ secrets.VERCEL_AUTOMATION_BYPASS_SECRET }}

