name: Playwright tests

on:
  deployment_status:
jobs:
  test:
    runs-on: ubuntu-latest
    environment:
      name: 'Staging'
    if: github.event.deployment_status.state == 'success'
    steps:
      - uses: actions/checkout@v4
      - name: Configure node
        uses: ./.github/actions/setup-project
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
        env:
          E2E_BASE_URL: ${{ github.event.deployment_status.target_url }}
          VERCEL_AUTOMATION_BYPASS_SECRET: ${{ secrets.VERCEL_AUTOMATION_BYPASS_SECRET }}
